name: npm package deployment

on:
    push:
        branches: ['main']

permissions:
    id-token: write
    contents: read

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Clone repository
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Use Node 22
              uses: actions/setup-node@v4
              with:
                  node-version: 22
                  cache: 'yarn'
                  registry-url: 'https://registry.npmjs.org'

            - name: Install dependencies and code quality check
              uses: ./.github/workflows/code-quality-check

            - name: Create build
              run: yarn build

            - name: Publish to npm
              run: npm publish
